

a {
  margin-right: 1rem;
}




input[type="button"]:disabled {
  border-color: rgba(118, 118, 118, 0.3);
  color: rgba(16, 16, 16, 0.3);
  background-color: rgba(239, 239, 239, 0.3);
  cursor: default;
}

form {
  margin-bottom: 1rem;
}

hr {
  margin: 2rem auto;
}

img {
  max-width: 100%;
  height: auto;
}


li {
  margin-bottom: 1rem;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 0.5rem;
  border-bottom: thin solid #dedede;
}

.active {
  font-weight: bold;
  color: #61dafb;
}




   
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}
body{
  width: auto;
  height: auto;
  position: relative; 
  background-image: radial-gradient(rgba(3, 85, 85, 0.568), #01332f );     
}
textarea {
  font-family: inherit;
  resize: none;
}
.icon-dibujo {
  width: 0.70703125em;
}

form {
  margin: 0 auto;
  width: 200px;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  
}
input{
  width: 95%;
  border: 1px solid rgb(1, 39, 37);
  border-radius: 5px;
  color: #000;
  background-color: rgba(0, 255, 255, 0.685);
  font-size: 16px;
  text-align: center;
  padding: 5px;
  
}
input:hover{
  border: 1px solid rgb(1, 39, 37); 
  background-color: rgba(9, 175, 175, 0.685);
}

.boton{
  width: 85%;
  margin-left: 15px;
  border-collapse: collapse
}

table{
  color: #fff;
  font-size: 20px;
  border-collapse: collapse;     
}
table th{

  background-color: rgba(0, 255, 255, 0.568);
  border: 1px solid;
  color: #fff;
  width: 500px; 
  border: 1px solid;  
}
table th:hover {
  background-color: aqua;
  color: #000;
}

h1{
  text-align: center;
  color: rgb(0, 0, 0);
  line-height: auto;
}
h2{
  text-align: center;
  color: rgb(255, 255, 255);
  line-height: auto;
}
h3{
  text-align: center;
  color: rgb(0, 0, 0);
  line-height: auto;
}



hr {
  margin: 2rem auto;
  }

tr:hover{
  background-color: rgb(5, 170, 170);
  color: black;
  }

.edit{
  background-color: aqua;
  border: 2px solid rgb(2, 111, 155);
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: rgb(0, 0, 0);
}
.edit:hover{
  background-color: rgb(4, 126, 126);
  border: 2px solid rgb(6, 255, 60);
  color: oldlace;
}
.eliminar{
  background-color: aqua;
  outline: none;
  border-radius: 5px;
  border: 2px solid rgb(2, 111, 155);
  font-size: 16px;
  color: rgb(0, 0, 0);
}
.eliminar:hover{
  background-color: rgb(4, 126, 126);
  border: 2px solid rgb(202, 2, 2);
  color: oldlace;
}
::placeholder { color: rgba(255, 255, 255, 0.733); }






